<%- include('../include/head.ejs') %>
<main>
<% for(let i =0;i!=users.length;i++)  {  user = users[i]   %>

<div>
    <img src=" <%= user.avatar %>" alt="<%= user.avatar %>">
    <h2><%=user.name%></h2>
    <a href="/profile/<%=user._id%>">profile</a>
</div>


    <%  }  %>
    

</main>
<%- include('../include/end.ejs') %>

    
